*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.mainBox{

    width: 100vw;
    height: 100vh;
    padding: 100px;
}

.inputText{
    width: 100%;
}

.showBox{
    padding-top:100px ;

}

.showBox h1 {
    color: white;
}